<div class="header">
  <img width="140" alt="ROC" src="../assets/logo.webp" />
  <span class="title">Risen One Consulting</span>
  <div class="spacer"></div>
  <a aria-label="home" [routerLink]="'/home'" title="Home"> Home </a>
  <a aria-label="admin" [routerLink]="'/admin'" title="Admin"> Admin </a>
  <a
    aria-label="collaborate"
    target="_blank"
    rel="noopener"
    href="https://www.risen-one.com/collaborate"
    title="Collaborate"
  >
    Collaborate
  </a>
  <a
    aria-label="Success Stories"
    target="_blank"
    rel="noopener"
    href="https://www.risen-one.com/success-stories"
    title="Success Stories"
  >
    Success Stories
  </a>
  <a
    aria-label="Connect"
    target="_blank"
    rel="noopener"
    href="https://www.risen-one.com/connect"
    title="Connect"
  >
    Connect
  </a>
</div>
