<footer class="footer">
  <div class="item">
    <div>Risen One Consulting</div>
    <div class="details">
      <div class="info">20285 Metcalf Ave</div>
      <div class="info">Bucyrus, KS 66013</div>
      <div class="info">
        Mail:
        <a data-auto-recognition="true" href="mailto:info@risen-one.com"
        >info@risen-one.com</a
        >
      </div>
    </div>
  </div>
  <div class="item">
    <div>Menu</div>
    <div class="details">
      <div class="info">
        <a aria-label="collaborate"
           target="_blank"
           rel="noopener"
           href="https://www.risen-one.com/collaborate"
           title="Collaborate"
        >
          Collaborate
        </a>
      </div>
      <div class="info">
        <a aria-label="Success Stories"
           target="_blank"
           rel="noopener"
           href="https://www.risen-one.com/success-stories"
           title="Success Stories"
        >
          Success Stories
        </a>
      </div>
      <div class="info">
        <a aria-label="Connect"
           target="_blank"
           rel="noopener"
           href="https://www.risen-one.com/connect"
           title="Connect"
        >
          Connect
        </a>
      </div>
    </div>
  </div>
</footer>
